/* font added */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
body {
  font-family: "Poppins", sans-serif;
}
/* conmebol copa start */
.copa {
  background-color: #2d25a0;
  display: flex;
  padding: 120px 80px 60px;
  height: 677px;
  width: 88%;
}
.copa-live {
  color: #ffffff;
  height: 230px;
  width: 485px;
  padding: 80px;
  text-align: left;
}
.copa-live h1 {
  font-size: 60px;
}
.anchor-button {
  text-decoration: none;
  background: #e02c6d;
  padding: 10px 50px;

  color: #ffffff;
  font-weight: 700;
}
.banner {
  width: 556px;
  height: 438px;
  position: relative;
  transition: transfrom 1s ease-out 0.1s;
}
.banner img {
  height: 438px;
  width: 556px;
  padding: 5%;
  position: relative;
  transition: transfrom 1s ease-out 0.1s;
}

.copa:hover .banner img {
  transform: translate(-50px, 25px);
}
/* <!-- conmebol copa end --> */
/* player list style start */

.item {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.players {
  padding-top: 50px;
  padding-left: 40px;
}
.player {
  height: 456px;
  width: 330px;
  padding: 3% 2%;
  margin: 2%;
  box-shadow: 15px 18px 15px 20px gray;
}
.player p {
  font-size: 14px;
}
.player img {
  height: 256px;
  width: 300px;
  padding: 16px 16px 16px;
}
.player-name {
  margin-top: 2px;
}
/* player list style end */
/* comment start */
.comments {
  padding-top: 80px;
  padding-left: 45px;
}
.comment-box {
  height: 100px;
  width: 500px;
}
.comment-box h2 {
  font-size: 20px;
  margin-bottom: 15px;
}
.comment-box input {
  width: 100%;
  height: 50px;
  padding: 0 20px;
  margin-bottom: 15px;
  border-radius: 5px;
  border: 1px solid #86b0b6;
}
.comment-box input:focus {
  border: 1px solid #000;
  outline: 0;
}
.comment-box textarea {
  width: 100%;
  height: 150px;
  padding: 15px 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  border: 1px solid #86b0b6;
}
.comment-box textarea:focus {
  border: 1px solid #000;
  outline: 0;
}
.comment-box button {
  background: #e02c6d;
  padding: 10px 30px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 18px;
}
.comment-box button:hover {
  background-color: #718a83;
}
/* comment end */
/* footer style start */
.footer {
  padding-left: 475px;
  margin-top: 30%;
}

.footer-img img {
  height: 213px;
  width: 484px;
}
.icon {
  height: 32px;
  width: 270px;
  padding-left: 25%;
}
.fab,
.fas {
  width: 20px;
}
.copyright {
  padding-left: 18%;
}
/* footer style end  */
/* mobile responsive  start*/
@media only screen and (max-width: 688px) {
  .copa {
    background-color: #2d25a0;
    height: 700px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 0;
    

  }
  .copa-live {
    color: #ffffff;
    height: 30px;
    width: 48px;
  padding-right: 80%;
    text-align: left;
  }
  .copa-live h1 {
    font-size: 30px;
  }
  .anchor-button {
    text-decoration: none;
    background: #e02c6d;
    padding: 5px 20px;
    height: 0%;
    color: #ffffff;
    font-size: 8px;
  
  }
  .banner {
    width: 56px;
    height: 48px;
    padding-right: 80%;
    position: relative;
    transition: transfrom 1s ease-out 0.1s;
  }
  .banner img {
    height: 250px;
    width: 220px;
    padding-top: 400%;
    
    margin-left: 0;
    position: relative;
    transition: transfrom 1s ease-out 0.1s;
  }
  .copa:hover .banner img {
    transform: translate(-50px, 25px);
  }
 
  .item {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .players {
    padding-top: 40px;
    padding-left: 2px;
  }
  .player {
    height: 430px;
    width: 225px;
    padding: 3% 2%;
    margin: 2%;
    box-shadow: 15px 18px 15px 20px gray;
  }
  .player img {
    height: 190px;
    width: 220px;
    padding: 5px 5px 5px;
  }
  .comments {
    padding-top: 50px;
    padding-left: 5px;
  }
  .comment-box {
    height: 40px;
    width:200px;
  }
  .comment-box h2 {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .comment-box input {
    width: 100%;
    height: 50px;
    padding: 0 20px;
    margin-bottom: 15px;
    border-radius: 5px;
    border: 1px solid #86b0b6;
  }
  .comment-box input:focus {
    border: 1px solid #000;
    outline: 0;
  }
  .comment-box textarea {
    width: 100%;
    height: 150px;
    padding: 15px 20px;
    margin-bottom: 10px;
    border-radius: 5px;
    border: 1px solid #86b0b6;
  }
  .comment-box textarea:focus {
    border: 1px solid #000;
    outline: 0;
  }
  .comment-box button {
    background: #e02c6d;
    padding: 10px 30px;
    border-radius: 5px;
    color: #ffffff;
    font-size: 18px;
  }
  .comment-box button:hover {
    background-color: #718a83;
  }
 
  .footer {
    padding-left: 5px;
    margin-top: 130%;
  }
  
  .footer-img img {
    height: 120px;
    width: 200px;
  }
  .icon {
    height: 32px;
    width: 270px;
    padding-left: 5%;
  }
  .fab,
  .fas {
    width: 20px;
  }
  .copyright {
    padding-left: 18%;
  }
}
/* mobile responsive end */

/* tablet responsive start */
